:root {
    --font-family: "poppins";
    --supervisor-border: #45D3D3;
    --team-builder-border: #EA5353;
    --karma-border: #FCAF4A;
    --calculator-border: #549EF2;
    --light-gray-font: #A3A5AE;
    --body-bg: #FAFAFA;
    --card-bg: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--body-bg);
    font-family: var(--font-family);
}

.container {
    width: 85%;
    margin: 0 auto;
}

.header-section {
    text-align: center;
    margin-bottom: 3em;
}

.header-regular {
    font-weight: 200;
}

.header-description {
    font-size: 0.7rem;
    color: var(--light-gray-font);
}

.flex-item {
    max-width: 400px;
    background-color: var(--card-bg);
    padding: 1.5em;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 1em;
    min-height: 14em;
    box-shadow: 3px 7px 7px 3px var(--light-gray-font);
    display: flex;
    flex-direction: column;
}

.flex-item img {
    align-self: flex-end;
    margin-top: 2em;
}

.title {
    font-weight: 600;
}

.description {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--light-gray-font);
}

.supervisor {
    border-top: 5px solid var(--supervisor-border);
}

.team-builder {
    border-top: 5px solid var(--team-builder-border);
}

.karma {
    border-top: 5px solid var(--karma-border);
}

.calculator {
    border-top: 5px solid var(--calculator-border);
}

@media (min-width: 700px) {
    .main {
        display: flex;
        justify-content: center;
    }
    .left-column, .right-column {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .middle-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header-description {
        width: 40%;
        margin: 0 auto;
    }
    .flex-item {
        margin: 0 2em;
        margin-bottom: 2em;
    }
}